<h3>Certificados</h3>
<ul *ngFor = "let ct of certificado">
    <tr>
        <li>
            <tr>
                <td>{{ ct.Nom_cert}}</td>
            </tr>
        </li>
        
        <ul *ngFor = "let des of ct.Des_cert">
        <li>
            <tr>
                {{des.Descripccion}}
                
            </tr>
        </li>
    </ul>
</tr>
</ul>

<ul>
    <li>
        <a href="https://firebasestorage.googleapis.com/v0/b/cloud-3b54d.appspot.com/o/Angel%20Guarneros%20-%20Pandas.png?alt=media&token=30ec26d5-5ac9-4c32-90c0-e87228c9ce70  ">CURSO PANDAS</a>
    </li>
</ul>

<ul>
    <li>
        <a href="https://firebasestorage.googleapis.com/v0/b/cloud-3b54d.appspot.com/o/Angel%20Guarneros%20-%20Python.png?alt=media&token=c7ab8f16-4102-42bb-b4ed-3ebea6d1267d">CURSO PYTHON</a>
    </li>
</ul>